body {
  background-color: #f7f9fa; /* ここで色を変更 */
}

.top-headlines {
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
}

.clear-button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
  color: #888;
}

.clear-button:hover {
  color: #333;
}

.toggle-button {
  padding: 10px 20px;
  margin: 20px auto;
  display: block;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}

.toggle-button:hover {
  background-color: #0056b3;
}

.no-articles-message {
  text-align: center;
  color: #888;
  font-size: 18px;
  padding: 20px;
}

.loading {
  text-align: center;
  font-size: 1.5em;
  padding: 20px;
}