.news-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 20px;
  background-color: hsl(0, 0%, 100%);
  border-radius: 10px;
  padding: 5px;
  margin-left: 30px;
  margin-right: 30px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.title-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.title {
  font-size: 24px;
  margin-bottom: 10px;
}

.triangle-icon {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 10px solid #333; /* 三角形を作るために上辺に色を設定 */
  cursor: pointer;
  transition: transform 0.3s ease;
}

.triangle-icon.open {
  transform: rotate(180deg); /* クリック時に三角形を回転 */
}

.headline-tiles {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.headline-tile {
  padding: 10px;
  margin: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: var(--tile-width);
  min-width: 250px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.headline-tile:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.expand-title {
  color: #0056b3;
  cursor: pointer;
  text-decoration: none;
  font-size: 25px;
  font-weight: bold;
  user-select: none;
}

.expand-symbol {
  color: #0056b3;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  margin-bottom: 20px;
  margin-right: 0px;
  margin-left: auto;
  font-size: 35px;
  transform: rotate(45deg);

}

.expand:hover {
  background-color: #0056b3;
}

.expand-icon {
  color: #0056b3;
  margin-left: 20px;
  user-select: none;
  display:inline-block;
  transition: transform 0.3s ease;
  font-size: 35px;
}

.expand-icon.open {
  transform: rotate(90deg);
}

.individual-link {
  color: #afafaf;
  text-decoration: none;
  font-size: 15px;
}

.individual-link:hover {
  color: #0056b3;
  text-decoration: underline;
}